.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000;
}

.site-title {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}

.nav-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.nav-items a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s, transform 0.2s;
}

.nav-items a:hover {
    /* Todo: change color */
    font-weight: bold;
    color: #f79281; 
    transform: translateY(-2px);
}