<div class="container">
    <div class="image">
        <img src="images/large-my-photo.jpg" alt="Asuka's photo">
    </div>
    
    <div class="brief-intro">
        <h1>Asuka Fukuchi</h1>
        <p>Junior Full Stack Developer</p>
        <p>Work is essential to life, but life shouldn't revolve solely around work. <br>
            As a developer, I strive to create efficient and useful systems that help others lead better, more
            fulfilling
            lives.
        </p>
        <a href="/about" class="about-btn">Learn more about me →</a>
    </div>
</div>